<mat-toolbar class="app-header">
  <span class="logo">Anticuchería <strong>D'Kyara</strong></span>

  <span class="spacer"></span>

  <nav class="nav-links">
    <a mat-button routerLink="/" routerLinkActive="active">Inicio</a>
    <a mat-button routerLink="/carta" routerLinkActive="active">Carta</a>
    <a mat-button routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
    <a mat-button routerLink="/contacto" routerLinkActive="active">Contacto</a>
  </nav>

  <!-- Ícono y nombre de usuario -->
  <div class="user-info">
    <div *ngIf="usuario" class="username">
      {{ usuario.nombre | capitalizeFirst }}
    </div>
    <a
      mat-icon-button
      [routerLink]="usuario ? '/perfil' : '/login'"
      aria-label="Usuario"
      class="user-icon"
    >
      <mat-icon>account_circle</mat-icon>
    </a>


  </div>
</mat-toolbar>
