<app-filtros (filtrar)="filtrarCategoria($event)"></app-filtros>

<div class="productos-container">
  <mat-card 
    class="producto" 
    *ngFor="let producto of productosFiltrados" 
    (click)="verDetalle(producto)" 
    style="cursor: pointer;"
  >
    <img mat-card-image [src]="producto.imagen" [alt]="producto.nombre" />

    <mat-card-title>{{ producto.nombre }}</mat-card-title>

    <mat-card-content>
      <p class="producto-descripcion">{{ producto.descripcion }}</p>
      <strong class="producto-precio">Precio: S/ {{ producto.precio }}</strong>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="productosFiltrados.length === 0" class="no-resultados">
  <p>No hay productos disponibles para esta categoría.</p>
</div>
